
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4aaef5;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 40vh;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-weight: bold;
}

button {
    display: block;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 1.3em;
        background-color: #2a75bb;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.dropdown{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    overflow: visible;
        
}

.dropdown-content {
    display: none;
    background-color: #2a75bb;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3498db;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.dropdown-content a:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown-content a:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown-content a:only-child {
    border-radius: 8px;
}


@keyframes pulseSheen {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

button.pulseSheen {
    animation: pulseSheen 1s ease-in-out;
}
